body {
    background-image: url(../images/adventure.jpg);
    background-position: inherit;
  }

#press-play {
    font-family: 'Press Start 2P', cursive;
    font-size: 55px;
    margin-top: 25%;
    text-align: center;
    animation: blink 1s linear infinite;
    color:#68abb4;
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 0.7;}
    }